{% extends 'base.html.twig' %}

{% block title %}
	{{ __app_name__ }} - Home
{% endblock %}

{% block body %}
	{# <div class="row">
		<div class="col s12">
			{{ render(controller('App\\Controller\\PostController::form')) }}
		</div>
	</div> #}

	<div class="row lighten-5">
		<div class="col s12">
    	{{ include('post/display.html.twig') }}
		</div>
	</div>
{% endblock %}